.blog__item {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  height: 400px;
  background: var(--color-jordy-blue);
  border-bottom: 5px solid var(--color-green-blue);
  border-right: 5px solid var(--color-green-blue);
  box-shadow: 3px 3px 10px var(--color-black);
}

.blog__item-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.blog__item-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 0.5rem 1rem;
}
.blog__item-info h1 {
  cursor: pointer;
  transition: 0.3s;
}

.blog__item-info h1:hover {
  color: var(--color-green-blue);
}
.blog__item-info p:first-of-type {
  color: var(--color-white);
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 25px;
  margin-bottom: 1rem;
  background: var(--color-green-blue);
}

.blog__item-info p:last-child {
  display: flex;
  align-self: flex-end;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
.blog__item-info p:last-child:hover {
  color: var(--color-green-blue);
}
