@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap");
:root {
  --font-base: Rajdhani;
  --color-space-cadet: #141b41;
  --color-green-blue: #306bac;
  --color-cornflower-blue: #6f9ceb;
  --color-jordy-blue: #98b9f2;
  --color-tropical-indigo: #918ef4;
  --color-black: #000000;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  background: var(--color-space-cadet);
}

.app__wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
